.navbar {
  display: flex;
  background-color: rgb(54, 94, 121);
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  color: white;
}
.title {
  padding: 3px 3px;
  margin: 1px 25px;
}
.MuiPaper-root {
  margin-top: 37px;
}
#search {
  margin: 0px 8px;
  width: 500px;
  padding: 2px 2px;
  border: 1px solid black;
  height: 38px;
  border: none;
  border-radius: 10px;
}

.myavatar {
  margin-right: 25px;
}
#search:focus {
  outline: none;
}
/* .nav_dropdown{
  position: absolute;
  top: 25px;
} */
